In [4]:
from PyKakao import Local
LOCAL = Local(service_key = "key")
LOCAL.geo_coord2address(127.386345, 36.346855, dataframe=True)['address'][0]

{'address_name': '대전 서구 탄방동 1447-1',
 'region_1depth_name': '대전',
 'region_2depth_name': '서구',
 'region_3depth_name': '탄방동',
 'mountain_yn': 'N',
 'main_address_no': '1447',
 'sub_address_no': '1',
 'zip_code': ''}

In [12]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [13]:
kp_acc = pd.read_csv('./data/kp_acc.csv')
npa_acc = pd.read_csv('./data/npa_acc.csv')
npa_acc=npa_acc.loc[npa_acc['HPPN_X'] != 0.0]
kp_acc_none_loca_addr = pd.read_csv('./data/kp_acc_none_loca_addr.csv')
npa_acc_none_loca_addr = pd.read_csv('./data/npa_acc_none_loca_addr.csv')

In [14]:
kp_acc_none_loca = kp_acc.loc[kp_acc['HPPN_PNU_ADDR'] == '0'].reset_index()
kp_acc_none_loca

,index,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y
0,93,대전청,1606800527,13,10,401,2,0,127.40466,36.341686
1,101,대전청,1606801513,13,10,401,1,0,127.40466,36.341686
2,102,대전청,1606800246,13,10,401,2,0,127.40466,36.341686
3,112,대전청,1606787810,13,10,403,2,0,127.40466,36.341686
4,157,대전청,1606811749,13,10,403,3,0,127.40466,36.341686
...,...,...,...,...,...,...,...,...,...,...
5743,285172,대전청,1673747629,13,10,401,1,0,127.40466,36.341686
5744,285220,대전청,1673858204,13,10,401,1,0,127.40466,36.341686
5745,285407,대전청,1673499431,13,10,401,1,0,127.40466,36.341686
5746,285704,대전청,1674049288,13,10,401,1,0,127.40466,36.341686
5747,285746,대전청,1673683324,13,10,401,1,0,127.40466,36.341686

In [15]:
npa_acc_none_loca = npa_acc.loc[npa_acc['HPPN_OLD_ADDR'] == '0'].reset_index()
npa_acc_none_loca

,index,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y
0,5,1577872007,13,10,403,1,0,127.404660,36.341686
1,28,1577869127,13,10,401,1,0,127.404660,36.341686
2,40,1577842878,13,10,401,1,0,127.404660,36.341686
3,337,1577919827,13,10,402,2,0,127.404660,36.341686
4,344,1577953958,13,10,402,1,0,127.404660,36.341686
...,...,...,...,...,...,...,...,...,...
1409,82433,1594029063,19,10,403,1,0,127.149720,37.006110
1410,82531,1593650003,19,10,402,2,0,126.191890,36.690216
1411,88417,1594282704,19,10,401,1,0,126.191890,36.690216
1412,88708,1594095122,19,10,401,1,0,126.191890,36.690216
1413,90508,1595754269,19,10,401,1,0,127.115585,36.853546

In [16]:
npa_acc_none_loca['HPPN_OLD_ADDR'] = npa_acc_none_loca_addr
npa_acc_none_loca

,index,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y
0,5,1577872007,13,10,403,1,대전 중구 중촌동 253-2,127.404660,36.341686
1,28,1577869127,13,10,401,1,대전 중구 중촌동 253-2,127.404660,36.341686
2,40,1577842878,13,10,401,1,대전 중구 중촌동 253-2,127.404660,36.341686
3,337,1577919827,13,10,402,2,대전 중구 중촌동 253-2,127.404660,36.341686
4,344,1577953958,13,10,402,1,대전 중구 중촌동 253-2,127.404660,36.341686
...,...,...,...,...,...,...,...,...,...
1409,82433,1594029063,19,10,403,1,경기 안성시 원곡면 반제리 산 148-2,127.149720,37.006110
1410,82531,1593650003,19,10,402,2,충남 태안군 근흥면 도황리 산 307-1,126.191890,36.690216
1411,88417,1594282704,19,10,401,1,충남 태안군 근흥면 도황리 산 307-1,126.191890,36.690216
1412,88708,1594095122,19,10,401,1,충남 태안군 근흥면 도황리 산 307-1,126.191890,36.690216
1413,90508,1595754269,19,10,401,1,충남 천안시 서북구 차암동 34-9,127.115585,36.853546

In [19]:
kp_acc_none_loca['HPPN_PNU_ADDR'] = kp_acc_none_loca_addr
kp_acc_none_loca

,index,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y
0,93,대전청,1606800527,13,10,401,2,대전 중구 중촌동 253-2,127.40466,36.341686
1,101,대전청,1606801513,13,10,401,1,대전 중구 중촌동 253-2,127.40466,36.341686
2,102,대전청,1606800246,13,10,401,2,대전 중구 중촌동 253-2,127.40466,36.341686
3,112,대전청,1606787810,13,10,403,2,대전 중구 중촌동 253-2,127.40466,36.341686
4,157,대전청,1606811749,13,10,403,3,대전 중구 중촌동 253-2,127.40466,36.341686
...,...,...,...,...,...,...,...,...,...,...
5743,285172,대전청,1673747629,13,10,401,1,대전 중구 중촌동 253-2,127.40466,36.341686
5744,285220,대전청,1673858204,13,10,401,1,대전 중구 중촌동 253-2,127.40466,36.341686
5745,285407,대전청,1673499431,13,10,401,1,대전 중구 중촌동 253-2,127.40466,36.341686
5746,285704,대전청,1674049288,13,10,401,1,대전 중구 중촌동 253-2,127.40466,36.341686
5747,285746,대전청,1673683324,13,10,401,1,대전 중구 중촌동 253-2,127.40466,36.341686

In [32]:
tmp = kp_acc_none_loca.iloc[:,[0,-3]].values
for _, arr in enumerate(tmp):
    kp_acc['HPPN_PNU_ADDR'][arr[0]] = arr[1]

C:\Users\user\AppData\Local\Temp\ipykernel_21252\3781321130.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kp_acc['HPPN_PNU_ADDR'][arr[0]] = arr[1]

In [35]:
tmp = npa_acc_none_loca.iloc[:,[0,-3]].values
for _, arr in enumerate(tmp):
    npa_acc['HPPN_OLD_ADDR'][arr[0]] = arr[1]

C:\Users\user\AppData\Local\Temp\ipykernel_21252\3611391281.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  npa_acc['HPPN_OLD_ADDR'][arr[0]] = arr[1]

In [38]:
npa_acc.head(10)

,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y
0,1577806360,13,10,402,1,대전광역시 서구 탄방동(탄방동) 1447-1,127.386345,36.346855
1,1577806532,13,10,406,1,대전광역시 유성구 궁동(행정:온천2동) 423-8,127.349990,36.360798
2,1577805695,13,10,401,1,대전광역시 유성구 봉명동(행정:온천1동) 541-26,127.348625,36.353830
3,1577806981,13,10,401,1,대전광역시 중구 오류동(행정:오류동) 187-27,127.405050,36.328570
4,1577871815,13,10,401,3,대전광역시 동구 가양동 630,127.445780,36.345500
5,1577872007,13,10,403,1,대전 중구 중촌동 253-2,127.404660,36.341686
6,1577873333,13,10,401,1,대전광역시 동구 판암동(행정:판암2동) 237,127.459160,36.323490
7,1577873321,13,10,403,3,대전광역시 동구 용운동(용운동) 349-4,127.460556,36.327220
8,1577873725,13,10,401,1,대전광역시 중구 태평동(태평2동) 378-7,127.394135,36.326645
9,1577873820,13,10,403,1,충청북도 청주시 흥덕구 비하동(강서1동) 409-3,127.419170,36.631943

In [39]:
npa_acc.to_csv('./data/npa_acc_addr.csv', index=False)
kp_acc.to_csv('./data/kp_acc_addr.csv', index=False)